/*styles for my drop-down menu*/

* {padding:0;
    margin:0;}


    body {background-color: white;
    font-size: 96%;}


    div#wrapper {
    width:940px;
    height: 600px;
    margin: 20px auto 20px auto;
    background-color:white;}


    header {width:940px;
    height:150px;
    background-color: gray;}


    
    nav {width:940px;
    height:50px;
    background-color: black;
    line-height: 50px;}

    nav ul { 
    list-style-type: none;
    overflow: hidden;}
    
    nav li {
    float:left;
    width:20%;
    text-align: center;}
    
    nav a {
    color:#fff;
    text-decoration: none;
    display:block;
    font-size: 26px;}
    
    nav a:hover { 
    background:red;}



/*This is my code for my dropdown menu inside my nav*/
nav li a, .drop {
color:white;
text-align: center;
text-decoration: none;}

li.dropdown {display: inline-block;}

.dropcontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 188px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;}

.dropcontent a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 20px;}

.dropcontent a:hover {background-color:lightgray;}

.dropdown:hover .dropcontent {display: block;}

.dropdown:after {clear:both;}






    #banner {width:940px;
    height:250px;
    background-color:yellow;}

    main {width:600px;
    height:500px;
    background-color: orange;
    float:left;}

    aside {width:340px;
    height:500px;
    background-color: pink;
    float:right;}
    
    footer {width: 940px;
    height: 50px;
    background-color:lightcoral;
    clear:both;}




